<div class="umb-panel" ng-controller="UmbracoPersonalisationGroups.CampaignPhoneManagerPersonalisationGroupCriteriaController">
    <div class="umb-panel-body no-header with-footer compact">
        <p>Please select the Campaign detail:</p>
        <umb-control-group alias="Id" label="Campaign">
            <select ng-model="renderModel.Id"
                    ng-options="item.Name as item for item in availableItems"></select>
        </umb-control-group>
    </div>
    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel">Cancel</localize>
                </a>
                <a href ng-click="saveAndClose()" class="btn btn-primary">
                    <localize key="buttons_save">Save</localize>
                </a>
            </div>
        </div>
    </div>
</div>